<div
  props
  headline="Inherited Properties of BaseField"
  [data]="[
    {
      name: 'key: string',
      description: 'The key in the object',
      default: ''
    },
    {
      name: 'className: string',
      description: 'The class passed to the field itself.',
      default: '',
      global: true
    },
    {
      name: 'containerClassName: string',
      description: 'A class passed to the container.',
      default: '',
      global: true
    },
    {
      name: 'formFieldClassName: string',
      description: 'A class passed to the form field.',
      default: '',
      global: true
    },
    {
      name: 'messages: { [key: string]: string }',
      description:
        'A key value object to pass messages like error or validation messages to the fields.',
      default: {},
      global: true
    }
  ]"
></div>
