<div
  props
  headline="Inherited Properties of FormFieldBasics"
  [data]="[
    {
      name: 'required?: boolean',
      description: 'Is the field required?',
      default: false
    },
    {
      name: 'validators?: ValidatorFn[]',
      description: 'Angualar default or custom Validator functions.',
      default: []
    },
    {
      name: 'disabled?: boolean',
      description: 'Is the element disabled?',
      default: false
    },
    {
      name: 'tabIndex?: number',
      description: 'The tabIndex for this field.',
      default: 0
    },
    {
      name: 'label?: string',
      description: 'The label shown up in the form field.',
      default: ''
    },
    {
      name: 'order?: number',
      description: 'The order which can be set for Flexbox layouts.',
      default: ''
    }
  ]"
></div>
