$width: 98%;
$gutter: 2%;
$breakpoint-med: 720px;
$breakpoint-large: 1200px;

app-registration {
  display: block;

  p,
  h1,
  h2,
  h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: 400;
  }

  .push-top-xl {
    margin-top: 48px;
  }

  .push-top-lg {
    margin-top: 24px;
  }

  small {
    color: #999;
  }

  .middle {
    width: 200px;
  }

  .auto {
    width: 100%;
  }

  .short {
    width: 100px;
  }

  mat-label {
    font-weight: 600;
  }

  .form-container {
    border: 1px solid #ddd;
    padding: 24px 16px;
    background: #fff;
    border-radius: 40px 0;
    margin: 48px 0 0;

    @media only screen and (max-width: $breakpoint-med) {
      padding: 16px;
      border-radius: 0;
      border-width: 1px 0;
    }

    * {
      box-sizing: border-box;
      line-height: 1;
    }
  }

  .gap {
    gap: 2%;
  }

  .align-right {
    text-align: right;
  }

  // mini-grid

  .ndf-multi-row,
  .ndf-container {
    margin-left: auto;
    margin-right: auto;

    @media only screen and (min-width: $breakpoint-large) {
      max-width: $breakpoint-large;
    }
  }

  .ndf-multi-form-row-button-container {
    width: calc(calc($width / 12) - calc($gutter * 11 / 12) + 2%);
    min-width: 100px;
    @extend .align-right;

    .ndf-form-field {
      float: none !important;
      display: inline-block;
      margin-right: 16px !important;

      + .ndf-form-field {
        margin-right: 0 !important;
      }
    }

    @media only screen and (max-width: 820px) {
      margin: 0 0 5%;
      text-align: left;

      .ndf-hidden {
        display: none;
      }
    }
  }

  .auto {
    flex: 1;
  }

  .ndf-container-row {
    position: relative;
    width: 100%;
  }

  .ndf-container-row {
    [ndf-form-field],
    .ndf-form-field {
      float: left;
      min-height: 0.125rem;

      &:not(.no-grid) {
        margin: 0.5rem 1%;
      }
    }
  }

  .ndf-container-row::after {
    content: "";
    display: table;
    clear: both;
  }

  .col-1,
  .col-2,
  .col-3,
  .col-4,
  .col-10,
  .col-12 {
    width: $width;
  }

  @media only screen and (min-width: $breakpoint-med) {
    .col-1 {
      width: calc($width / 12) - calc($gutter * 11 / 12);
    }
    .col-2 {
      width: calc($width / 6) - calc($gutter * 10 / 12);
    }
    .col-3 {
      width: calc($width / 4) - calc($gutter * 9 / 12);
    }
    .col-4 {
      width: calc($width / 3) - calc($gutter * 8 / 12);
    }
    .col-10 {
      width: calc($width / calc(12 / 10)) - calc($gutter * 2 / 12);
    }
    .col-12 {
      width: $width;
    }
  }
}
