::ng-deep {
  .wrapper {
    background-color: lightsteelblue;
    padding: 50px;

    .newsletter {
      border-radius: 17px;
      padding: 24px;
      background: #fff;
      margin: 0 auto;
      max-width: 1000px;
      box-shadow: 1px 3px 5px grey;

      h2 {
        font-weight: 300;
        letter-spacing: 0.125rem;
      }

      .mat-mdc-raised-button {
        padding: 28px 24px;
      }
    }
  }
}
