<h4 *ngIf="!!headline" [innerHTML]="headline"></h4>

<table style="width: 100%">
  <thead>
    <tr>
      <th [align]="'left'">Name</th>
      <th [align]="'left'">Description</th>
      <th [align]="'left'">Default</th>
      <th [align]="'left'">Global settable</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of data">
      <td>
        <pre><code>{{ item.name }}</code></pre>
      </td>
      <td>{{ item.description }}</td>
      <td>
        <pre><code>{{ item.default | json }}</code></pre>
      </td>
      <td>
        <pre><code>{{ (item?.global || false) | json }}</code></pre>
      </td>
    </tr>
  </tbody>
</table>
