<div
  props
  headline="Inherited Properties of MatFormField"
  [data]="[
    {
      name: 'appearance?: MatFormFieldAppearance',
      description: '',
      default: 'fill',
      global: true
    },
    {
      name: 'clearButton?: boolean',
      description: '',
      default: false,
      global: true
    },
    {
      name: 'floatLabel?: FloatLabelType',
      description: '',
      default: 'auto',
      global: true
    },
    {
      name: 'hideBorder?: boolean',
      description: '',
      default: false
    },
    {
      name: 'hideLabel?: boolean',
      description: '',
      default: false,
      global: true
    },
    {
      name: 'hideRequiredMarker?: boolean',
      description: '',
      default: false,
      global: true
    },
    {
      name: 'hintAlign?: \'start\' | \'end\'',
      description: '',
      default: 'start',
      global: true
    },
    {
      name: 'hintCount?: boolean',
      description: '',
      default: false
    },
    {
      name: 'hintCountAlign?: \'start\' | \'end\'',
      description: '',
      default: 'end',
      global: true
    },
    {
      name: 'hintLabel?: string',
      description: '',
      default: ''
    },
    {
      name: 'hintText?: string',
      description: '',
      default: ''
    },
    {
      name: 'label?: string',
      description: '',
      default: ''
    },
    {
      name: 'matFormFieldClassName?: string',
      description: '',
      default: 'ndf-full-width',
      global: true
    },
    {
      name: 'prefixClassName?: string',
      description: '',
      default: ''
    },
    {
      name: 'prefixIcon?: string',
      description: '',
      default: ''
    },
    {
      name: 'prefixText?: string',
      description: '',
      default: ''
    },
    {
      name: 'subscriptSizing?: SubscriptSizing',
      description: '',
      default: 'fixed',
      global: true
    },
    {
      name: 'suffixClassName?: string',
      description: '',
      default: ''
    },
    {
      name: 'suffixIcon?: string',
      description: '',
      default: ''
    },
    {
      name: 'suffixText?: string',
      description: '',
      default: ''
    },
    {
      name: 'onPrefixClick?($event: PointerEvent | MouseEvent): void',
      description: '',
      default: undefined
    },
    {
      name: 'onSuffixClick?($event: PointerEvent | MouseEvent): void',
      description: '',
      default: undefined
    }
  ]"
></div>
