// LAYOUT START
html,
body {
  margin: 0;
  padding: 0;
}

.mat-toolbar {
  position: sticky;

  .link {
    margin: auto 8px;
    border: 1px solid transparent;
  }

  .header-icon {
    width: calc(300px - 16px - 8px);
  }

  .ndf-link-active {
    border: 1px solid #fff;
  }
}

.code {
  &-tab {
    border: 1px solid #ccc;
    padding: 16px;
    background: #fff;
    border-radius: 5px;
    margin-top: 48px;

    .code-copy {
      position: absolute;
      top: 16px;
      right: 0;
      z-index: 1;
    }

    .mat-mdc-tab-body-wrapper,
    .mat-mdc-tab-header {
      background-color: #fff;
    }
  }

  &-header {
    background-color: #eee;
    padding: 4px 16px;
    margin: -16px -16px 24px;
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-direction: row;
    place-content: space-between;

    .text {
      display: flex;
      place-items: center;
      color: #3f51b5;
      font-weight: 500;
    }
  }
}

div[minimal] {
  margin-bottom: 48px;

  pre {
    border: 1px solid #ccc;
    border-radius: 5px;
  }
}

div[props] {
  margin-bottom: 48px;

  table {
    background: #fff;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-spacing: 0;

    th,
    td {
      padding: 4px 16px;
    }

    th {
      border-bottom: 1px solid #ccc;
      background-color: #eee;
      height: 48px;
      color: #3f51b5;
      font-weight: 500;
    }

    td {
      &,
      * {
        font-size: 13px;
      }
    }

    tbody {
      tr {
        &:hover {
          background-color: #eee;
        }
      }
    }
  }
}

.mat-mdc-tab-body-wrapper {
  border-top: 1px solid #ccc;
}

// LAYOUT END

.custom-html {
  color: blue;
  margin-top: 40px;
}

.ndf-multi-row-button {
  width: 40px;
}

.pad-right-small {
  padding-right: 4px;
}

.amount-label {
  width: 200px;
  margin-right: 16px;
}

span {
  &.amount-label {
    display: inline-block;
  }
}

input {
  &.amount-field {
    text-align: right;
    appearance: textfield;

    &::-webkit-outer-spin-button,
    &::-webkit-inner-spin-button {
      display: none;
    }
  }
}

.count {
  width: 200px;

  &-field {
    text-align: center;
    appearance: textfield;
  }
}

.street {
  width: 100%;
}

.green {
  color: green;
}
.red {
  color: red;
}

.ndf-multi-form-row-button-container {
  display: inline-flex;
  gap: 8px;

  .ndf-form-field {
    top: 5px;
    position: relative;
  }
}
